<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308652974567-vh63guh221mm1ngdd13md82o4npujh50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308652974567-vh63guh221mm1ngdd13md82o4npujh50</string>
	<key>API_KEY</key>
	<string>AIzaSyBqiJo9GQtdVWM6WRKeDwNp9ZCyFlHUADo</string>
	<key>GCM_SENDER_ID</key>
	<string>308652974567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.signinapp.googleAuth</string>
	<key>PROJECT_ID</key>
	<string>sign-in-app-3ffc4</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-in-app-3ffc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308652974567:ios:e875f637f15bedb6581d42</string>
</dict>
</plist>